certifi
chardet
click
cmake
decorator==4.4.2
dlib==19.15.0
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy
opencv-python-headless
Pillow
proglog
requests
tqdm
urllib3
wincertstore
pandas